<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Signup</title>
    <meta name="description" content="Create an account page">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-success">
    <div class="container d-flex align-items-center justify-content-center min-vh-100">
        <div class="card p-4 shadow-lg" style="max-width: 400px; width: 100%;">
            <h1 class="card-title text-center mb-5">Create an Account</h1>
            <form>
                <div class="mb-3">
                    <input id="newUserFullName" class="p-2 form-control" type="text" placeholder="Your Name" />
                </div>
                <div class="mb-3 mt-2">
                    <input id="newEmail" class="p-2 form-control" type="email" placeholder="Your Email" />
                </div>
                <div class="mb-3">
                    <input id="newUserUserName" class="p-2 form-control" type="text" placeholder="Username"/>
                </div>
                <div class="mb-3 mt-2">
                    <input id="newPassword" class="p-2 form-control" type="password" placeholder="Password" />
                </div>
                <div class="mb-3 mt-2">
                    <input id="confirmPassword" class="p-2 form-control" type="password" placeholder="Confirm Password" />
                </div>
                <div class="d-grid mt-2">
                    <button id="submit" class="btn btn-primary" type="button">Register</button>
                </div>
            </form>
            <div class="text-center mt-3">
                <span>Already have an account?  <button id="signupButtonLink" class="btn btn-info" type="button" onclick="goToLoginPage(); return false;">Login</button></span>
            </div>
        </div>
    </div>
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/src/js/signup.js"></script>
</body>

</html>