.book-image {
    width: 80px;
    height: auto;
}

.sticky-table-header {
    position: sticky;
    top: 0;
}

.table-header {
    font-size: 24px;
}

.image-link {
    display: inline-block;
    padding: 0.5rem;
    transition: background-color 0.3s, border-radius 0.3s;
}

.image-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
}

.nav-image {
    width: 50px; /* Adjust size as needed */
    height: auto; /* Adjust size as needed */
    display: block;
}

.profile-item {
    display: block;
    margin-bottom: .5rem;
}

.aliceblue {
    background-color: aliceblue;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}
